 * {
    margin: 0;
    padding: 0;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template: "avion nombre  campana bar"/
                     2fr   200px  200px   90px;    
    background-color: #2A0087; 
    width: 100%;
    margin: 0 auto;
    

}


.menu {
    display: grid;
    
    color: rgb(255, 253, 253);
    font-size: 30px;
    font-weight: bold;
    background-color: #2A0087; 
    text-decoration: none;
    
} 
.h2 {
    display: grid;
    grid: h2;
    color: white;
    font-size: 30px;
    margin: 3px;
    text-decoration: none;
    padding: 10px;
}
.viajes{
    grid: h2;
    color: white;
    font-size: 30px;
    margin: 3px;
    text-decoration: none;
    padding: 10px;
}
 .style-contentVuelo{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 25px;
    display: grid;

    grid-template: "style-origen style-directo  style-destino " 
                     "empty    style-directo style-destin  " /
                              1fr           1fr      150px ;
   
}
.style-contentVuelo{
    
  padding: 20px;
  width: 80%;
  margin-left: 8%;                           
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
font-family: 'Times New Roman', Times, serif;                             
                                                               
} 
.style-contentVuelo:hover{
    box-shadow: 4px 4px 4px rgb(179, 177, 177);
    transition-duration: 350ms;
  
}
.fa.bars{
    grid-area: bars;
    margin: 3px;
    padding: 10px;
}
.fa-bell{
    grid-area: campana;
    margin: 3px;
    padding: 10px;
}

.h1{
    display: grid;
    color: white;
    font-size: 30px;
    margin: 3px;
    text-decoration: none;
}
.style-directo{
    font-size: 15px;
   color: gray;
   cursor: pointer;
}
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
.style-horaInicio{
    color: #2A0087;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;

}
.style-horaFinal{
    color: #2A0087;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;

}
.style-precio{
    color: #2A0087;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.fa{
    grid-area: bars;
    margin: 3px;
    padding: 10px;
  
    
}
.textopresentacion{
    
    padding: 12px;
    border-radius: 10px;
    border: 1px solid gray;
   
}
.presentacion{
    padding: 15px;
    display: inline-block;
   
}
.fa-solid{
    
    padding: 10px;
}
.titulo{
  
    padding: 15px;
}
.boton{
    border: 1px solid #EE1750;
    border-radius: 10px;
    background-color: #EE1750;
    font-size: 20px;
    color: white;
    padding: 10px;
}
.boton:hover{
    transition-duration: 200ms;
    transform: translate(3px);
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}


 




