.container {
   /*  grid-area: auto;
  width: 25%;
    margin: 70px;
    padding: 40px;
    border: solid 1px #000000;
    border-radius: 20px;
    margin-left: 25px;  
 */
  /*   font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    border: solid 1px #000000; */
    
    border: 1px solid #000000;
    max-width: 1000px;
    width: 500px; 
    margin-left: 20px;
    top: 90%;
    margin-right: 25%;
    border-radius: 20px;
  }
    .boton {
    margin-top: 70px;
    
    /* max-width: 1000px;
    width: 650px;
    margin-top: 12%;
    margin-left: 20px;
    top: 90%;
    margin-right: 25%;
    border-radius: 30px; */
  }
  .sumRest{
    padding: 10px;
    margin: 6px;
    margin-left: 5px;

    background-color: rgba(240, 240, 240, 0.568);
    text-decoration: none;
    padding: 4px 18px;
    border-radius: 10px;
    border: 1px solid black;
    color: rgb(20, 20, 20);
  }
  .valor{
    padding: 10px;
    margin: 5px;
    margin-left: 5px;
    text-decoration: none;
    padding: 4px 18px;
    border: 1px solid black;
    color: rgb(20, 20, 20);
    border-radius: 10px;
   
  }
  span {
    font-size: 20px; 
  }   */
  input {
    font-size: 14px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
  }
  .box1 {
   background-color: gold; 
    padding-top: 3px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .text{
    /*   position:absolute;
      margin-top: 10px; 
      margin-left: 110px;
      font-size: 18; */
      position: absolute;
      margin-left: 230px;
      margin-top: 40px;
      
  }
  .pago{
    font-size: 18px;
    margin-left: 8px;
   
  }
  .texto {
    font-size: 18px;
  }
  .img{
    margin-top: 27px;
    margin-left: 20px;
  }
  .boton{
    margin: 30px;

  }
  .guardar{
    text-decoration: none;
    border-radius: 3px;
    color: black;
    
    padding: 7px 20px;
    font-size:15px;
    border-radius: 10px;
    border: 1px solid rgb(204, 195, 195);
  }
  .guardar:hover {
    background-color: rgb(195, 194, 194);
}