/* Color llamado por su nombre... */
p {
    font-size: 2em;
}
.color-violeta {
    color: rgb(0, 255, 34); 
}
.color-azul {
    color: rgb(0, 0, 255); 
}
.color-verde {
    color: #ff1100;  

}
.color-coofisam {
    color: rgb(1, 255, 86); 
}