fieldset {
    display: grid;
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 20px;
}
h2{
    text-align: center;
}
.codigoProducto{
    padding: 10px;
    margin-bottom: 40px;
    width: 75%;
    border-radius: 10px;
    border: 1px solid black;
}
.caracteristicasproducto {
    padding: 10px;
    margin-bottom: 40px;
    width: 84%;
    border-radius: 10px;
    border: 1px solid black;

}

/* .valorPro{
    
    margin-top: 30px;
    padding: 20px;
    margin-left: 10px;
    width: 30px;

    
}
.valorProducto {
    grid-area: valorpro;
    padding: 10px;
    margin-bottom: 40px;
    width: 20%;
    border-radius: 10px;
    border: 1px solid black;
  
}
.unidadPro{
    padding: 5px;
    margin-left: 60px;
    width: 80px;
 
}
.unidadesProducto {
    padding: 10px;
    margin-bottom: 40px;
    margin-left:50px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;

} */




.table-style{
    display: block;
    margin: 30px auto;
    width: 70%;
    padding: 18px;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    
}
 td, th {
    border: 1px solid rgb(78, 71, 71);
    padding: 20px;
    
} 
th {
    background-color: rgb(83, 83, 83);
    border: 1px solid rgb(0, 0, 0);
    color: white;
}   
td{
    border: 1px solid rgb(0, 0, 0);
    padding-bottom: 3px;
    text-align:left;
}

#codigo {
   
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}   
.cargar{
    padding: 15px;
    border-radius: 10px;
   border: 1px solid black;
   background-color: rgb(18, 152, 206);
   width: 80%;
   
   text-align: center;
   margin-left: 10%;
   color: white;
   cursor: pointer;
}
.cargar{
    display: grid;
    text-align: center;

}
.label1{
    display: grid;
    grid-template: "valorPro1  codigoProducto"
                    "gridPro2  caracteristicasproducto"/
                    100px          2fr;
}
.valorPro1{
    grid-area: valorPro1;
    margin-left: 29px;

}
.codigoProducto{
    grid-area: codigoProducto;
}
.valorPro2{
    grid-area: gridPro2;
    margin-left: 29px;
}
.caracteristicasproducto{  
    grid-area: caracteristicasproducto;
    margin-left: 20px;
}
.label2{
    flex: auto;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template: "valorTotal   unidadTotal "/
                     1fr           1fr ;
    

}
.valorTotal{
    grid-area: valorTotal;
}
.unidadTotal{
    grid-area: unidadTotal;
}
.valorProd{
 margin-left: 30px;

}
.valorProducto{
   padding: 10px;
    margin-bottom: 40px;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 30px;
}
.unidadPro{
   
}
.unidadesProducto{
    padding: 10px;
    margin-bottom: 40px;
    width: 40%;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 30px;
}



