
.hijo1{
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    width: 60%;
    border-radius: 5px;
    margin-top: 2%;
    font-size: 17px;
    outline: none;
    margin-left: 5%;
}

.presentacion{
    display: grid;
     grid-template: "img  lupa     lupa1   uwu"/
                    200px  1fr   30px  40px; 

    border-bottom: 1px solid black;
    font-size: 16px;
} 
.lupa{
    
    grid-area: lupa;
    font-size: 23px;
    margin-top: 20px;
    cursor: pointer;
}
.lupa1{
    
    grid-area: lupa1;
    font-size: 23px;
    margin-top: 15px;
    left: 300px;
  
  
    cursor: pointer;
}
.bar{
    
    grid-area: uwu;
    font-size: 23px;
    margin-top: 40%;
    cursor: pointer;
    color: rgb(155, 154, 154);
}
/* .presentacion2{
    display: grid;
    grid-template: "lupa2  buscar  equis"/
                    200px   2fr     40px;
    font-size: 16px;
}  */
.lupa2{
    grid-area: lupa2;
    position: absolute;
    font-size: 23px;
    margin-top: 20px;
    cursor: pointer;
    left: 400px;

  
}
.buscar{
    grid-area: buscar; 
    position: absolute;
    right: 300px;
    width: 50%;

}
.equis{
    grid-area: equis;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    right: 300px;
    
}

.img{
    margin-top: 10px;
    cursor: pointer;
}

.transform4{
    position: fixed;
    bottom: 7px;
    right: 7px;
    width: 1px;
    height: 1px;
    background-color: rgba(245,245,245,255);
    transition: transform 1s, width 500ms, height 500ms;
    
}
.transform5{
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transition: width 600ms, height 600ms;
    background-color: rgba(245,245,245,255);
    width: 300px;
    height: 600px;
    
}
.botonCerrar{
    display:none;
    background-color:  rgba(0,114,206,255);
    
}
.botonCerrarVisible{
    display:block;
    cursor: pointer;
  
    
}
#botonForm{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.boton{
   
background-color: aqua;
padding: 18px;
border-radius: 18px;

}

.content2{
    display: grid;
    grid-template: "menu,  img1, xbox" /
                    1fr    150px   100px;
    border: 1px solid black;
    background-color: rgba(0,114,206,255);
    height: 57px;
    
  
 
}
.img1{ 
    grid-area: img1;
    border-radius: 80%;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 100px;
    margin-top: 2px;
}
.menu{
    grid-area: menu;
    height: 10px;
    font-size: 25px;
    margin-right: 240px;
    margin-top: 5px;
    border-radius: 18px;
    color: white;
} 
.xbox{
    grid-area: xbox;
    font-size: 25px;
    margin-left: 240px;
    color: white;
  
}
.budy {
    margin: 0;
    padding: 0;
    background:url(../img/home3.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.busqueda{
    cursor: pointer;
}
.texto2{
    grid-area: texto2;
    margin-top: 490px;
    margin-bottom: 0%;
    border-top: gray;
    border-left: 0ch;
    border-right: 0ch;
    font-family: 'Times New Roman', Times, serif;
    width: 87%;
    padding: 18px;
   outline: none;

}
.texto3{
    display: grid;
    grid-template: "texto2  img3"/
                     228px    50px;

}
.imagen3{
    grid-area: img3;
    margin-top: 488px;
    margin-bottom: 0%;
    cursor: pointer;
}



