.hijo1{
    grid-area: hijo-3; 
    padding: px;
}
.buscar{
    grid-area: buscar;
    margin-left: 150px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    outline: none;
    padding: 15px;
    margin: 15px 15%;
    
}
.presentacion{
    display: grid;
     grid-template: "img  buscar  uwu"/
                    300px    1fr     150px; 

    border-bottom: 1px solid black;
    font-size: 16px;
    
} 
.fas {
   grid-area: uwu;
}  
.img{
    margin-top: 10px;
    cursor: pointer;
}
.bar{
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.transform4{
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 1px;
    height: 1px;
    transition: transform 1s, width 1s, height 1s;
}
.transform5{
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transition: width 600ms, height 600ms;
    width: 300px;
    height: 700px;
}
.botonCerrar{
    display:none;
}
.botonCerrarVisible{
    display:block;
    cursor: pointer;
  
    
}
#botonForm{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.boton{
background-color: aqua;
padding: 18px;
border-radius: 18px;

}
.botonCerrar{
    grid-area: botoncerrar;
    position: absolute;
    right: 10px;
  
}
.content2{
    display: grid;
    grid-template: "fa,  img2,  botoncerrar" /
                    1fr   11fr  1fr;
    border: 1px solid black;
 
}
.img2{
    grid-area: img2;
    border-radius: 100px;
}
.menu{
    grid-area: fa;
}



