*
{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("../img/atardecer-coloridos-paisajes-naturales.jpg");
}
nav
{
    cursor: pointer;
    padding: 0;
}
ul
{
    list-style: none;
    position:absolute;
    background-color: rgb(4, 78, 163);
    width: 100%;

}
a
{
    display: block;
    text-decoration: solid;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* .item
{
    line-height: 3em;
    display: inline-block;
    position: relative;
    text-align: right;

} */

a:hover
{
    background: rgb(4, 77, 119);
    transition: all 1,5s;
}
.sub-item
/* {
    text-align: center;
    transition: all 1.5s ;
    max-height: 0;
    background: darkred;
    position: relative;
} */
.item:hover .sub-item
{
    display: block;
    max-height: 500px;
    border-bottom: 1px solid white;
}
