* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgba(19, 204, 29, 0.801);
}
ul {
    list-style: none;
    font-size: 1.5em;
    text-align: right;
}
li {
    display: inline-block;
    padding: 10px;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
}
li:hover {
    background-color: rgba(14, 102, 6, 0.836);
}
.main-content {
    margin: 3em;
}